body {
  background-color: #e9967a;
  font-family: Arial, Helvetica, sans-serif;

}

h1 {
  color: #00ffff;
  font-size: 100px;
  font-weight:300;
}

h2 {
  color:#00ffff7e
  font-size: 75px;
  font-weight:250;
}

h3 {
  color: #00ffff25;
  font-size: 100px;
  font-weight:
}

p{
  color:black;
  font-size: 75px;
  font-weight: 100;
}